<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LESS</title>
        <link rel="stylesheet" href="./css/styles.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <header>
               
            </header>
            <main>
                <section class="primeiro">
                    <div class="p-1"><p>L</p></div>
                    <div class="p-2"><p>E</p></div>
                    <div class="p-3"><p>S</p></div>
                    <div class="p-4"><p>S</p></div>
                    <div class="p-5 segundo">
                        <div class="s-1"></div>
                        <div class="s-2"></div>
                        <div class="s-3"></div>
                        <div class="s-4"></div>
                        <div class="s-5"></div>
                    </div>
                </section>
                <section class="terceiro">
                    <div class="t-1"><p>V</p></div>
                    <div class="t-2"><p>@</p></div>
                    <div class="t-3"><p>R</p></div>
                    <div class="t-4"><p>I</p></div>
                    <div class="t-5"><p>Á</p></div>
                    <div class="t-6"><p>V</p></div>
                    <div class="t-7"><p>E</p></div>
                    <div class="t-8"><p>L</p></div>
                </section>
                <section class="quarto">
                    <div class="q-1"><p>A</p></div>
                    <div class="q-2"><p>N</p></div>
                    <div class="q-3"><p>I</p></div>
                    <div class="q-4"><p>N</p></div>
                    <div class="q-5"><p>H</p></div>
                    <div class="q-6"><p>A</p></div>
                    <div class="q-7"><p>M</p></div>
                    <div class="q-8"><p>E</p></div>
                    <div class="q-8"><p>N</p></div>
                    <div class="q-8"><p>TO</p></div>
                </section>
                <section class="quinto">
                    <div class="qu-1"><p>F</p></div>
                    <div class="qu-2"><p>U</p></div>
                    <div class="qu-3"><p>N</p></div>
                    <div class="qu-4"><p>Ç</p></div>
                    <div class="qu-5"><p>Õ</p></div>
                    <div class="qu-6"><p>E</p></div>
                    <div class="qu-7"><p>S</p></div>
                    <div class="qu-8 sexto">
                        <div class="se-1"><p></p></div>
                        <div class="se-1"><p></p></div>
                        <div class="se-3"><p></p></div>
                        <div class="se-4"><p></p></div>
                        <div class="se-5"><p></p></div>
                    </div>
                </section>
                <section class="setimo">
                    <div class="set-1"><p>M</p></div>
                    <div class="set-2"><p>I</p></div>
                    <div class="set-3"><p>X</p></div>
                    <div class="set-4"><p>I</p></div>
                    <div class="set-5"><p>N</p></div>
                    <div class="set-6"><p>S</p></div>
                    <div class="set-7 oitavo">
                        <div class="oi-1"><p></p></div>
                        <div class="oi-1"><p></p></div>
                        <div class="oi-3"><p></p></div>
                        <div class="oi-4"><p></p></div>
                        <div class="oi-5"><p></p></div>
                    </div>
                    <div class="set-8 oitavo">
                        <div class="oi-1"><p></p></div>
                        <div class="oi-1"><p></p></div>
                        <div class="oi-3"><p></p></div>
                        <div class="oi-4"><p></p></div>
                        <div class="oi-5"><p></p></div>
                    </div>
                </section>
                <section class="nono">
                    <div class="no-1"><p>OP</p></div>
                    <div class="no-2"><p>E</p></div>
                    <div class="no-3"><p>R</p></div>
                    <div class="no-4"><p>A</p></div>
                    <div class="no-5"><p>Ç</p></div>
                    <div class="no-6"><p>Õ</p></div>
                    <div class="no-7"><p>E</p></div>
                    <div class="no-8"><p>S</p></div>
                </section>
            </main>
        </div>
    </body>
</html>